<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza | Pizza Creed</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">

<div class="container mt-5">
    <!-- Navigation links -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bg-info-subtle" href="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-info-subtle" href="/addPizza">Add Pizza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-info-subtle" href="/menu">Menu</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="text-center text-primary">Pizza</h1>
    <div th:if="${successMessage}" class="alert alert-success">
        <strong th:text="${successMessage}"></strong>
    </div>
    <p class="lead text-center">Here is a list of all the pizzas:</p>

    <ul class="list-group">
        <!-- Use Bootstrap list-group to style the list -->
        <li th:each="pizza : ${pizzas}" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${pizza.name}">Pizza Name</h5>
                <small th:text="${pizza.size}" class="text-muted">Pizza Size</small>
            </div>
            <p class="mb-1">
                <strong th:text="${pizza.price}" class="text-success">Pizza Price</strong>
            </p>
            <!-- Add edit and delete buttons -->
            <div class="btn-group">
                <a th:href="@{'/editPizza/' + ${pizza.id}}" class="btn btn-sm btn-primary">Edit</a>
                <a th:href="@{'/deletePizza/' + ${pizza.id}}" class="btn btn-sm btn-danger">Delete</a>
            </div>
        </li>
    </ul>
</div>
</div>
</body>
</html>